
@{
    ViewData["Title"] = "CheckYourInBox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1 class="text-center">CheckYourInBox</h1>


<div class="main-w3layouts wrapper">
	<div class="main-agileinfo">
		<div class="agileits-top">
			<p>Please Check Your Inbox</p>
			<p>
				<a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">Go To Your InBox</a>
			</p>

		</div>
	</div>
</div>