@using Demo.Presentation.ViewModels.AuthModel
@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1 class="text-center">ForgetPassword</h1>


<div class="main-w3layouts wrapper">
	<div class="main-agileinfo">
		<div class="agileits-top">
			<form asp-action="ForgetPassword" asp-controller="Account" method="post">
				<div asp-validation-summary="ModelOnly"></div>
				<input asp-for="Email" placeholder="Email" />
				<span asp-validation-for="Email" class="text-danger"></span>
				<br />
				<input type="submit" value="Reset Password" />
			</form>
			<p><a asp-action="Lgoin">Cancel</a> </p>
		</div>
	</div>
</div>