@using Demo.Presentation.ViewModels.AuthModel
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1 class="text-center">ResetPassword</h1>

<div class="main-w3layouts wrapper">
	<div class="main-agileinfo">
		<div class="agileits-top">
			<form asp-action="ResetPassword" asp-controller="Account" method="post">
				<div asp-validation-summary="ModelOnly"></div>
				<input asp-for="Password" placeholder="New  Password" />
				<span asp-validation-for="Password" class="text-danger"></span>
				<br />
				<input asp-for="ConfirmPassword" placeholder="Confirm Password" />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
				<br />
				<input type="submit" value="Change" />
			</form>
			<p><a asp-action="Lgoin">Cancel</a> </p>
		</div>
	</div>

